<p>Get your Flowdock API tokens from the <a href="https://www.flowdock.com/help/redmine" target="_blank">help page</a>. The tokens are specific to a single Flowdock flow.</p>

<% Project.active.each do |project| %>
<p>
  <%= content_tag(:label, project.name) %>
  <%= text_field_tag("settings[api_token][#{project.identifier}]", @settings[:api_token][project.identifier], :size => 40) %>
</p>
<p>
  <%
    checked = @settings[:publish_wiki_updates] &&
      @settings[:publish_wiki_updates][project.identifier] == "yes"
  %>
  <%= content_tag(:label, "Publish Wiki updates") %>
  <%= check_box_tag("settings[publish_wiki_updates][#{project.identifier}]", "yes", checked) %>
</p>
<% end %>
